[default]
aws_access_key_id = YOUR_ACCESS_KEY_ID
aws_secret_access_key = YOUR_SECRET_ACCESS_KEY

# Optional (only include if your AWS account uses temporary credentials):
# aws_session_token = YOUR_SESSION_TOKEN


